<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon " type="images/x-icon" href="{{ url_for('static', filename='assets/favicon2.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bs3/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/webview.css') }}">

    <title>{{ title }}</title>
    {% block css%}
    <style type="text/css">
        .container-fluid {
            margin-right: 50px;
            margin-left: 50px;
        }
    </style>
    {% endblock %}
</head>

<body>
   
    <br><br><br><br>
     
    <div class="container-fluid">

    {% block body%} {% endblock %}

    <br><br><br><br>
    </div>
          
</body>
<script src="{{ url_for('static', filename='bs3/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bs3/js/bootstrap.min.js') }}"></script>
<!--
    <script src="{{ url_for('static', filename='echarts/echarts.simple.min.js') }}"></script>
-->
<!-- <script src="{{ url_for('static', filename='echarts/echarts.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='resources/holder.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='resources/toastr.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='layer/layer.js') }}"></script> -->

{% block js%} 
<script type="text/javascript">

</script>
{% endblock %}
</html>